<!-- component -->
<div class="flex h-screen antialiased text-gray-800">
    <div class="flex flex-row h-full w-full overflow-x-hidden">
      <div class="flex flex-col py-8 pl-6 pr-2 w-64 bg-white flex-shrink-0">
        
        <div class="flex flex-col mt-8">
          <div class="flex flex-row items-center justify-between text-xs">
            <span class="font-bold">Conversations</span>
            <span
              class="flex items-center justify-center bg-gray-300 h-4 w-4 rounded-full"
              >{{users.length}}</span>
          </div>
          <div class="flex flex-col space-y-1 mt-4 -mx-2 h-48 overflow-y-auto">
            <button
              class="flex flex-row items-center hover:bg-gray-100 rounded-xl p-2"
              *ngFor="let user of users"
              (click)="selectChatRoom( user.id)"
            >
              <div
                class="flex items-center justify-center h-8 w-8 bg-indigo-200 rounded-full"
              >
                {{user.name?.charAt(0)}}
              </div>
              <div class="ml-2 text-sm font-semibold">{{user.name}}</div>
            </button>
          </div>
        </div>
      </div>
      <div class="flex flex-col flex-auto h-full p-6">
        <div
          class="flex flex-col flex-auto flex-shrink-0 rounded-2xl bg-gray-100 h-full p-4"
        >
        <div class="flex flex-col h-full justify-center items-center" *ngIf="!chat">
            <p class="text-gray-500 text-lg">Select a chat</p>
            <p class="text-gray-400">For chating select a chat from the left sidebar</p>
        </div>
        <div class="flex flex-col h-full justify-center items-center" *ngIf="noMsg">
          <p class="text-gray-500 text-lg">No hay mensajes por mostrar</p>
          <p class="text-gray-400">Envia un mensaje para iniciar la conversación</p>
      </div>
      <div class="flex flex-col h-full overflow-x-auto mb-4">
        <div class="flex flex-col h-full">
          <div class="grid grid-cols-12 gap-y-2">
            <!-- Mensaje de otro usuario -->
            <div class="col-start-1 col-end-8 p-3 rounded-lg" *ngFor="let message of messages">
              <div class="flex flex-row items-center">
                <div class="relative ml-3 text-sm bg-white py-2 px-4 shadow rounded-xl">
                  <div>{{ message }}</div>
                </div>
              </div>
            </div>
            <div class="col-start-6 col-end-13 p-3 rounded-lg" *ngFor="let message of messages">
              <div class="flex items-center justify-start flex-row-reverse">
                <div class="relative mr-3 text-sm bg-indigo-100 py-2 px-4 shadow rounded-xl">
                  <div>{{ message }}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
          <div
            class="flex flex-row items-center h-16 rounded-xl bg-white w-full px-4"
          >
            <div class="flex-grow ml-4">
              <div class="relative w-full">
                <input
                  type="text"
                  [(ngModel)]="message"
                  class="flex w-full border rounded-xl focus:outline-none focus:border-indigo-300 pl-4 h-10"
                />
               
              </div>
            </div>
            <div class="ml-4">
              <button
                class="flex items-center justify-center bg-indigo-500 hover:bg-indigo-600 rounded-xl text-white px-4 py-1 flex-shrink-0"
                (click)="createMessage()"
              >
                <span>Send</span>
                <span class="ml-2">
                  <svg
                    class="w-4 h-4 transform rotate-45 -mt-px"
                    fill="none"
                    stroke="currentColor"
                    viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M12 19l9 2-9-18-9 18 9-2zm0 0v-8"
                    ></path>
                  </svg>
                </span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>